@font-face {
  font-family: "PP Rader";
  src: url("/fonts/PPRader-Regular.woff2") format("woff2"),
    url("/fonts/PPRader-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
